<div class="center-lesson">
    <div style="min-width: 30%">

        <h2 style="text-align: center;">@UserInfo.CurSubject</h2>
        <h3 style="text-align: center;">@UserInfo.CurGroup</h3>

        <div style="text-align: center;" class="mt-5">
            <button class="btn btn-end-theme" style="width: 70%;" onclick="LessonOff()">Закончить занятие</button>
        </div>

        <div style="text-align: center;" class="mt-1">
            @if (UserInfo.IsCameraWorking)
            {
                <button class="btn btn-start-theme me-1 disabled" style="width: 34%;" onclick="CameraOn()">Камера старт</button>
                <button class="btn btn-stop-theme" style="width: 34%;" onclick="CameraOff()">Камера стоп</button>
            }
            else
            {
                <button class="btn btn-start-theme me-1" style="width: 34%;" onclick="CameraOn()">Камера старт</button>
                <button class="btn btn-stop-theme disabled" style="width: 34%;" onclick="CameraOff()">Камера стоп</button>
            }
        </div>


        <div class="mt-3">
            <table class="table">

                <tr class="table-dark"> <th>ID</th> <th>ФИО</th> <th>Присутствие</th> </tr>

                @foreach (var student in UserInfo.CurStudentsNames)
                {
                    <tr scope="row">
                        <td>@student.Id</td>
                        <td>@student.Full_name</td>
                        <td class="text-center" id="@student.Id"> @if (student.IsThere)
                            {
                                <span>&#10004</span>
                            } 
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>

    setTimeout(function () { location.reload(); }, 10000);

    function CameraOff() {
        $.ajax({
            type: "POST",
            url: "/Home/CameraOff"
        });

        location.reload();
    };


    function CameraOn() {
        $.ajax({
            type: "POST",
            url: "/Home/CameraOn"
        });

        location.reload();
    };


    function LessonOff() {
        $.ajax({
            type: "POST",
            url: "/Home/LessonOff",
            success: function () {
                window.location.reload(true);
            }
        });
    }

</script>

